{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="{{ user.userprofile.theme|default:'light' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Dalen</title>
  <link rel="icon" href="{% static 'img/favicon.svg' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <script src="{% static 'js/slimselect.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'fontawesomefree/css/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script>
    document.addEventListener('htmx:configRequest', (event) => {
      const csrfToken = document.cookie
        .split('; ')
        .find(row => row.startsWith('csrftoken='))
        ?.split('=')[1];

      if (csrfToken) event.detail.headers['X-CSRFToken'] = csrfToken;
    });
  </script>
</head>
<body>
  <div class="flex">
    {% if user.is_authenticated %}
    <nav class="desktop-nav glass-panel">
      <div class="brand-wrapper mb-2">
        <div class="brand-icon">
          <img src="{% static 'img/logo.svg' %}" alt="Logo">
        </div>
        <span>Dalen</span>
      </div>

      <div>
        <a class="nav-btn active" href="{% url 'dashboard' %}">
          <i class="fas fa-home"></i><span>Dashboard</span>
        </a>
        <a class="nav-btn" href="{% url 'fixed_flows' %}">
          <i class="fas fa-receipt"></i><span>Fixed flows</span>
        </a>
        <a class="nav-btn" href="{% url 'goal_setup' %}">
          <i class="fas fa-calendar-alt"></i><span>Planning</span>
        </a>
      </div>

      <div>
        <a class="nav-btn mb-2" href="{% url 'settings' %}">
          <i class="fas fa-cog"></i><span>Settings</span>
        </a>

        <div class="flex items-center gap-1 pd-1">
          <i class="fas fa-circle-user text-30"></i>
          {{ user.username }}
        </div>
      </div>
    </nav>

    <nav class="mobile-nav glass-panel">
      <a class="nav-btn active" href="{% url 'dashboard' %}">
        <i class="fas fa-home"></i><span>Dashboard</span>
      </a>
      <a class="nav-btn" href="{% url 'fixed_flows' %}">
        <i class="fas fa-receipt"></i><span>Fixed flows</span>
      </a>
      <div></div>
      <a class="nav-btn" href="{% url 'goal_setup' %}">
        <i class="fas fa-calendar-alt"></i><span>Planning</span>
      </a>
      <a class="nav-btn" href="{% url 'settings' %}">
        <i class="fas fa-cog"></i><span>Settings</span>
      </a>
    </nav>

    <a href="{% url 'transaction' %}" class="fab-btn" title="Add Transaction"><i class="fas fa-plus"></i></a>
    {% endif %}

    <div class="app-wrapper no-scrollbar">
      <header class="mobile-header glass-panel">
        <div class="brand-wrapper">
          <div class="brand-icon">
            <img src="{% static 'img/logo.svg' %}" alt="Logo">
          </div>
          <span>Dalen</span>
        </div>

        <div class="flex items-center gap-1 pd-1">
          <i class="fas fa-circle-user text-30"></i>
          {{ user.username }}
        </div>
      </header>

      <main class="content-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mb-2">{{ message }}</div>
        {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
      </main>
    </div>
  </div>

  <dialog id="modal-dialog"><div id="modal-container" class="card-small panel"></div></dialog>

  <script>
    class Dialog {
      constructor() {
        this.container = document.getElementById("modal-dialog");
        this.modal = document.getElementById("modal-container");

        this.container.addEventListener('click', (e) => { if (e.target === this.container) this.container.close(); });
      }

      open(content) {
        this.modal.innerHTML = content;
        this.container.showModal();
        document.body.style.overflow = 'hidden';
      }
      close() {
        this.container.close();
        document.body.style.overflow = '';
      }
    }

    document.addEventListener('DOMContentLoaded', () => { window.dialog = new Dialog(); });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const selects = document.querySelectorAll('select');

      selects.forEach(select => {
        const enableSearch = select.dataset.search == 'true';

        select.slim = new SlimSelect({
          select: select,
          settings: { showSearch: enableSearch }
        });
      });
    });
  </script>
</body>
</html>
